In [8]:
# Generators
a = (i for i in range(1, 10))
type(a)

generator

In [9]:
print(next(a))
print(next(a))
print(next(a))

1
2
3

In [11]:
for i in a:
    print(i)

4
5
6
7
8
9

In [12]:
# Do some more research on this.. How it actually works under the hood

In [22]:
import pandas as pd

titanic_chunks = pd.read_csv('titanic.csv', chunksize=100)

In [23]:
for i, chunk in enumerate(titanic_chunks):
    print(i)
    print(chunk['Age'])

0
0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
      ...
95     NaN
96    71.0
97    23.0
98    34.0
99    34.0
Name: Age, Length: 100, dtype: float64
1
100    28.0
101     NaN
102    21.0
103    33.0
104    37.0
       ...
195    58.0
196     NaN
197    42.0
198     NaN
199    24.0
Name: Age, Length: 100, dtype: float64
2
200    28.0
201     NaN
202    34.0
203    45.5
204    18.0
       ...
295     NaN
296    23.5
297     2.0
298     NaN
299    50.0
Name: Age, Length: 100, dtype: float64
3
300     NaN
301     NaN
302    19.0
303     NaN
304     NaN
       ...
395    22.0
396    31.0
397    46.0
398    23.0
399    28.0
Name: Age, Length: 100, dtype: float64
4
400    39.0
401    26.0
402    21.0
403    28.0
404    20.0
       ...
495     NaN
496    54.0
497     NaN
498    25.0
499    24.0
Name: Age, Length: 100, dtype: float64
5
500    17.0
501    21.0
502     NaN
503    37.0
504    16.0
       ...
595    36.0
596     NaN
597    49.0
598     NaN
599    49.0
Name: Age, Length: 100, dtype: float64
6
600    24.0
601     NaN
602     NaN
603    44.0
604    35.0
       ...
695    52.0
696    44.0
697     NaN
698    49.0
699    42.0
Name: Age, Length: 100, dtype: float64
7
700    18.0
701    35.0
702    18.0
703    25.0
704    26.0
       ...
795    39.0
796    49.0
797    31.0
798    30.0
799    30.0
Name: Age, Length: 100, dtype: float64
8
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
       ...
886    27.00
887    19.00
888      NaN
889    26.00
890    32.00
Name: Age, Length: 91, dtype: float64

In [28]:
# Here is how to create generator function

def data_generator(iterator):
    for chunk in iterator:
        yield (chunk['Age'], chunk['Sex'])
        
data = pd.read_csv('titanic.csv', chunksize=100)
G = data_generator(data)

print(type(data))
print(type(G))

print(next(G))

<class 'pandas.io.parsers.TextFileReader'>
<class 'generator'>
(0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
      ...
95     NaN
96    71.0
97    23.0
98    34.0
99    34.0
Name: Age, Length: 100, dtype: float64, 0       male
1     female
2     female
3     female
4       male
       ...
95      male
96      male
97      male
98    female
99      male
Name: Sex, Length: 100, dtype: object)

In [29]:
# SO I guess a yield is a way to turn normal data into a generator data type

In [30]:
# Activity - Mnist Data Augmentation

In [38]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from keras.datasets import mnist
from matplotlib import pyplot

# Original Data
(X_train, y_train), (X_test, y_test) = mnist.load_data()

In [39]:
X_train.shape

(60000, 28, 28)

In [41]:
# Reshape the Data
X_train = X_train.reshape((X_train.shape[0], 28, 28, 1))
X_test = X_test.reshape((X_test.shape[0], 28, 28, 1))

In [42]:
X_train.shape

(60000, 28, 28, 1)

In [36]:
from keras.preprocessing.image import ImageDataGenerator

datagen = ImageDataGenerator(rotation_range=90)
# fit parameters from data
datagen.fit(X_train)